<!-- Modal -->
<app-speed-dial-modal
  *ngIf="modalOpen"
  (closed)="closeModal()"
  (generateLink)="handleGenerateLink()"
  (addCustomer)="handleAddCustomer()"
></app-speed-dial-modal>

<!-- Botón + -->
<div class="fixed end-6 bottom-6 group">
<button
  type="button"
  (click)="openModal()"
  class="flex items-center justify-center text-white bg-red-500 rounded-full w-14 h-14 hover:bg-red-700"
>
  <svg
    class="w-5 h-5 transition-transform"
    [class.rotate-45]="open"
    xmlns="http://www.w3.org/2000/svg"
    fill="none" viewBox="0 0 18 18"
  >
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
  </svg>
  <span class="sr-only">Toggle menu</span>
</button>
</div>
